{
  "branches": "staging",
  "repositoryUrl": "https://github.com/AudiTranscribe/AudiTranscribe.git",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# AudiTranscribe Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\\n\\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "Windows-Installer.zip",
            "label": "Windows Installer"
          },
          {
            "path": "macOS-Installer.zip",
            "label": "macOS Installer"
          }
        ]
      }
    ]
  ],
  "dryRun": false
}