.root {
    /* TODO UPDATE COLOUR PALETTE & STYLING */

    /* Colour palette definitions */
    background-colour-primary: rgb(0, 0, 0);
    background-colour-secondary: rgb(60, 60, 60);
    background-colour-tertiary: rgb(120, 120, 120); /* Even lighter */

    button-default-colour: rgb(100, 100, 100);
    button-hover-colour: rgb(200, 200, 200);

    text-colour-primary: rgb(255, 255, 255);
    text-colour-secondary: rgb(255, 255, 255); /* Slightly darker */
    text-colour-hyperlink: rgb(0, 255, 255);

    progress-bar-filled-colour: rgb(0, 200, 255);

    slider-track-unfilled-colour: rgb(128, 128, 30);
    slider-track-filled-colour: rgb(0, 115, 220);
    slider-thumb-colour: rgb(0, 0, 0);

    scrollbar-colour: rgb(255, 255, 255);
    seperator-colour: rgb(255, 255, 255);
    stroke-colour: rgb(255, 255, 255);

    focus-colour: rgb(30, 120, 210);
}
