.root {
    /* Colour palette definitions */
    background-colour-primary: rgb(245, 245, 245);
    background-colour-secondary: rgb(230, 233, 237); /* Slightly darker */
    background-colour-tertiary: rgb(200, 203, 207); /* Even darker */

    button-default-colour: rgb(218, 223, 229);
    button-hover-colour: rgb(226, 229, 233); /* Slightly lighter */
    button-selected-colour: rgb(230, 240, 250);

    ok-button-default-colour: rgb(120, 180, 235);
    ok-button-hover-colour: rgb(180, 210, 240); /* Slightly lighter */

    text-colour-primary: rgb(50, 50, 50);
    text-colour-secondary: rgb(100, 100, 100); /* Slightly lighter */
    text-colour-hyperlink: rgb(49, 114, 198);

    progress-bar-filled-colour: rgb(75, 125, 200);

    slider-track-unfilled-colour: rgb(130, 130, 150);
    slider-track-filled-colour: rgb(110, 175, 235);
    slider-thumb-colour: rgb(255, 255, 255);

    scrollbar-colour: rgb(166, 168, 181);
    seperator-colour: rgb(213, 215, 218);
    stroke-colour: rgb(15, 15, 50);

    focus-colour: rgb(120, 180, 220);
}
