.root {
    memory-hbox-background-colour: rgba(230, 235, 240, 0.3);
    memory-hbox-text-colour: rgb(235, 235, 235);

    spectrogram-main-line-colour: rgba(255, 255, 255, 0.5);
    spectrogram-bar-line-colour: rgba(0, 255, 0, 0.5);
}
