.root {
    text-field-background-colour: background-colour-secondary;
    text-field-text-colour: text-colour-primary;
    text-field-prompt-colour: text-colour-secondary;

    memory-hbox-background-colour: rgba(230, 235, 240, 0.3);
    memory-hbox-text-colour: rgb(235, 235, 235);

    spectrogram-main-line-colour: rgba(255, 255, 255, 0.5);
    spectrogram-bar-line-colour: rgba(0, 255, 0, 0.5);

    note-rectangle-border-colour: rgb(255, 160, 255);
    note-rectangle-fill-colour: rgba(255, 128, 255, 0.5);
}
