/* MAIN PAGE */
/* Others */
.short-name-rectangle {
    -fx-stroke: #000000ff;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0ff;
}

/* TRANSCRIPTION PAGE */
/* Labels */
.display-label {
    -fx-text-fill: #000000ff;
}

/* Spectrogram */
.note-line, .beat-line {
    -fx-stroke: #ffffff80;
}

.bar-line {
    -fx-stroke: #00ff0080;
}

.bar-number-ellipse {
    -fx-stroke: #000000ff;
}

.current-octave-rectangle {
    -fx-fill: #ffbf0080;
}

.spectrogram-square {
    -fx-border-color: #d3d3d3ff;  /* Lightgray */
}

/* Playback */
.clickable-progress-pane {
    -fx-background-color: #00000000;
}

.coloured-progress-pane {
    -fx-background-color: #00bfff80;
}

.playhead-line {
    -fx-stroke: #00bfffff;
}
