/* PROGRESS PANES */
.clickable-progress-pane {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.coloured-progress-pane {
    -fx-background-color: rgba(0, 191, 255, 0.5);
}

/* LINES */
.playhead-line {
    -fx-stroke: rgb(0, 191, 255);
}
