.subheading-label {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.button.error {
    -fx-border-color: error-border-colour;
}

.text-field.error {
    -fx-border-color: error-border-colour;
}
